@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

footer {
    @include flexElement(column, wrap);
    margin-bottom: 51px;
    width: 79rem;
    height: 9.2rem;
    gap: 7px;

    .footer-info {
        font-size: 1.5rem;
        font-weight: 300;
        color: $secondary-darkblue-400;

        .github-link {
            font-size: 1.5rem;
            font-weight: 500;
            color: $secondary-darkblue-400;

            &:visited {
                color: $secondary-darkblue-400;
            }

            &:hover {
                color: $secondary-darkblue-300;
            }

            &:active {
                color: $secondary-darkblue-200;
            }
        }
    }
}
