@use '../variables.scss' as vars;

.dashboard .dashboard-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 84rem;
    padding: 29px 27px;

    background-color: vars.$containers-bg-neutralblue;
    border-radius: calc(vars.$default-border-radius * 2);

    .dashboard-header {
        display: flex;
        flex-direction: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 28px;
        width: 100%;

        .dashboard-title {
            font-size: 1.9rem;
            font-weight: 700;
            color: vars.$secondary-darkblue-400;
        }

        #expand-dashboard {
            width: 14.3rem;
            height: 3.2rem;
            cursor: pointer;
            font-size: 1.6rem;
            font-weight: 600;

            background-color: vars.$buttons-bg-darkblue;
            border: vars.$border-template;
            outline: vars.$outline-template;
            border-radius: vars.$default-border-radius;
            color: vars.$secondary-darkblue-300;
            transition: background-color, outline-width, 0.1s;

            &:hover {
                background-color: vars.$buttons-hover-darkblue;
            }

            &:active {
                outline-width: vars.$hover-outline-size;
            }
        }
    }

    .dashboard-data-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 52px;
        margin-bottom: 47px;

        .grid-element {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            gap: 6px;
            min-height: 7.5rem;

            .element-icon {
                width: 40px;
                height: auto;
                position: absolute;
                left: 0;
                top: 0;
            }

            .element-titles {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
                text-align: left;
                width: calc(100% - 57px);

                margin-left: 57px;
                gap: 4px;

                .name {
                    font-size: 2.1rem;
                    font-weight: 400;
                    text-wrap: nowrap;
                    color: vars.$secondary-darkblue-300;
                }

                .data {
                    font-size: 3.5rem;
                    font-weight: 700;
                    color: vars.$primary-snow-500;
                }
            }

            .expanded-element {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: calc(100% - 57px);
                margin-left: 57px;

                .expanded-info {
                    font-size: 1.7rem;
                    font-weight: 400;
                    margin-bottom: 2px;
                    color: vars.$secondary-darkblue-300;
                }

                .expanded-small-info {
                    font-size: 1.5rem;
                    font-weight: 300;
                    margin-top: 8px;
                    color: vars.$secondary-darkblue-300;
                }
            }
        }
    }

    .expanded {
        grid-template-areas:
            'left right'
            'left1 right1'
            'left2 right2'
            'left3 right3'
            'left4 right4';
    }

    .compacted {
        grid-template-areas:
            'left right'
            'left1 right1';
    }

    .design-div {
        width: 70%;
        height: 2px;
        margin-bottom: 26px;
        background-color: vars.$containers-bg-lightblue;
    }

    #last-search-time {
        font-size: 1.7rem;
        font-weight: 400;
        margin-bottom: 12px;
        color: vars.$secondary-darkblue-300;
    }

    #search-cord {
        font-size: 1.7rem;
        color: vars.$secondary-darkblue-300;
    }
}
