// document colors
$page-bg-darkblue-500: #12151c;
$page-bg-darkblue-400: #1e2330;
$containers-bg-neutralblue: #202537;
$containers-bg-lightblue: #353e5d;

// element colors
$buttons-bg-darkblue: #313352;
$buttons-hover-darkblue: #2e2f4b;

// all title colors
$primary-snow-500: #edf0f8;

$secondary-darkblue-500: #12151c;
$secondary-darkblue-400: #686f85;
$secondary-darkblue-300: #96a0c1;
$secondary-darkblue-200: #adb8dd;

$invalid-title-red: #ff6668;
$valid-title-green: #45e29e;

// element sizes
$hover-outline-size: 2px;
$default-border-radius: 10px;

// templates
$outline-template: 0px solid #576381;
$border-template: 1px solid #4c5670;
