@use './variables.scss' as vars;

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 51px;
    width: 79rem;
    height: 9.2rem;
    gap: 7px;

    .footer-info {
        font-size: 1.5rem;
        font-weight: 300;
        color: vars.$secondary-darkblue-400;

        .github-link {
            font-size: 1.5rem;
            font-weight: 500;
            color: vars.$secondary-darkblue-400;

            &:visited {
                color: vars.$secondary-darkblue-400;
            }

            &:hover {
                color: vars.$secondary-darkblue-300;
            }

            &:active {
                color: vars.$secondary-darkblue-200;
            }
        }
    }
}
