@use './variables.scss' as vars;

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 76px 51px;
    width: 79rem;
    height: 9.2rem;
    gap: 7px;

    .footer-info {
        font-size: 1.5rem;
        font-weight: 300;
        color: #686f85;

        .github-link {
            color: #686f85;

            &:visited {
                color: #686f85;
            }

            &:focus {
                color: vars.$snow-title;
            }

            &:hover {
                font-weight: 600;
            }
        }
    }
}
