$dark-background: #12151c;
$snow-title: #edf0f8;

$main-stroke-color: #4c5670;
$small-letters-size: 0.9rem;

// home
$animated-label-size: 2.5rem;
$animated-label-hidden-color: #585b60;
$input-field-bg: #303144;
$input-field-text-color: #686f85;
$select-field-bg: #232438;
$select-field-text-color: #96a0c1;
$search-button-bg: #313352;
$search-button-title-color: #d1ddff;

// design divisory
$design-div-color: #303144;

$invalid-title-color: #ff6668;
$valid-title-color: #45e29e;
